import Groq from "groq-sdk";

const groq = new Groq({
  apiKey: process.env.GROQ_API_KEY,
});

export async function POST(req) {
  try {
    const {
      prompt,
      file,
      context,
      cursor,
    } = await req.json();

    const completion =
      await groq.chat.completions.create({
        model: "llama-3.3-70b-versatile",

        messages: [
          {
            role: "system",
            content: `
You are CodePilot AI,
a professional coding assistant.

- Help with coding
- Generate clean code
- Fix bugs
- Explain code
- Stay technical
            `,
          },

          {
            role: "user",
            content: `
Current File:
${file}

Cursor:
${JSON.stringify(cursor)}

Current Code:
${context}

User Request:
${prompt}
            `,
          },
        ],

        temperature: 0.2,
        max_tokens: 2000,
      });

    const text =
      completion.choices?.[0]?.message
        ?.content || "No response";

    return Response.json({
      success: true,
      text,
    });

  } catch (error) {

    console.log(error);

    return Response.json({
      success: false,
      error: String(error),
    });
  }
}